{{define "body"}}
{{ if and .firstname .lastname }}
<p>Liebe/r {{.firstname}} {{.lastname}},</p>
{{ else }}
<p>Liebe/r Nutzer:in,</p>
{{ end }}

<p>Wie benachrichtigen dich, weil du heute eine fällige Rückgabe von Gegenständen und / oder eine aktive Reservierung im Leihladen im Commonszentrum hast.</p>

<div style="background-color: #f8d7da; border-left: 4px solid rgb(89, 122, 216); padding: 20px; margin: 30px 0;">
    <p style="margin: 0;"><strong>Wichtige Information:</strong></p>
    <p style="margin: 10px 0 0 0;">Leider muss der Leihladen im Commonszentrum heute aus unvorhergesehenen Gründen geschlossen bleiben.</p>
</div>

<p><strong>Kein Problem!</strong> Deine Ausleihe kannst du daher einfach am darauffolgenden Öffnungstag abholen bzw. zurückbringen.</p>

<p style="background-color: #fff3cd; padding: 15px; border-radius: 4px;"><strong>Wichtig:</strong> Bitte stelle keine ausgeliehenen Gegenstände bei uns vor der Tür ab, die Rückgabe läuft bei uns nur persönlich.</p>

<p>Wir bitten um Entschuldigung für die Unannehmlichkeit. Bei Fragen wende dich gerne per Mail an uns.</p>

<p style="margin-top: 40px; font-size: 12px; color: #666; font-style: italic;">Diese Email wurde automatisch generiert. Sie kann daher Fehler enthalten. Wir bitten dies zu entschuldigen.</p>
{{end}}
